/*                             KEY POSITIONS

    ╭───────────────────────────╮           ╭────────────────────────────╮
    │ 0   1   2   3   4   5   6 │           │  7   8   9  10  11  12  13 │ 
    ╰──╮ 14  15  16  17  18  19 │           │ 20  21  22  23  24  25 ╭───╯
       │ 26  27  28  29  30  31 ╰───╮   ╭───╯ 32  33  34  35  36  37 │
       ╰───────────────╮ 38  39  40 │   │ 41  42  43 ╭───────────────╯
                       ╰────────────╯   ╰────────────╯                       */

compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };


COMBO(copy,  &kp LG(C), 26 27, COLEMAK)
COMBO(paste, &kp LG(V), 30 31, COLEMAK)
COMBO(undo, &kp LC(Z), 28 29, COLEMAK)

COMBO(grave, &kp GRAVE, 11 12, COLEMAK)

COMBO(0, &kp N0 , 14 26, COLEMAK)
COMBO(1, &kp N1 , 15 27, COLEMAK)
COMBO(2, &kp N2 , 16 28, COLEMAK)
COMBO(3, &kp N3 , 17 29, COLEMAK)
COMBO(4, &kp N4 , 18 30, COLEMAK)
COMBO(5, &kp N5 , 21 33, COLEMAK)
COMBO(6, &kp N6 , 22 34, COLEMAK)
COMBO(7, &kp N7 , 23 35, COLEMAK)
COMBO(8, &kp N8 , 24 36, COLEMAK)
COMBO(9, &kp N9 , 25 37, COLEMAK)


COMBO(bootloader, &bootloader, 26 37, FUNC)


/* COMBO(bt1, &macro_bt1, 26 27, BASE BASE_IOS) */
/* COMBO(bt2, &macro_bt2, 2 3, BASE BASE_IOS) */
