/*                             KEY POSITIONS

    ╭───────────────────────────╮           ╭────────────────────────────╮
    │ 0   1   2   3   4   5   6 │           │  7   8   9  10  11  12  13 │ 
    ╰──╮ 14  15  16  17  18  19 │           │ 20  21  22  23  24  25 ╭───╯
       │ 26  27  28  29  30  31 ╰───╮   ╭───╯ 32  33  34  35  36  37 │
       ╰───────────────╮ 38  39  40 │   │ 41  42  43 ╭───────────────╯
                       ╰────────────╯   ╰────────────╯                       */

compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    timeout-ms = <75>; \
  };


COMBO(copy,  &kp LG(C), 26 27, COLEMAK)
COMBO(paste, &kp LG(V), 30 31, COLEMAK)
COMBO(undo,  &kp LC(Z), 28 29, COLEMAK)

COMBO(grave, &kp GRAVE, 11 12, COLEMAK)

COMBO(1, &kp N1, 1 2,    COLEMAK)
COMBO(2, &kp N2, 2 3,    COLEMAK)
COMBO(3, &kp N3, 3 4,    COLEMAK)
COMBO(4, &kp N4, 4 5,    COLEMAK)
COMBO(5, &kp N5, 5 6,    COLEMAK)
COMBO(6, &kp N6, 7 8,    COLEMAK)
COMBO(7, &kp N7, 8 9,    COLEMAK)
COMBO(8, &kp N8, 9 10,   COLEMAK)
COMBO(9, &kp N9, 10 11,  COLEMAK)
COMBO(0, &kp N0, 6 7,    COLEMAK)

COMBO(exclamation, &kp EXCL   , 14 15, COLEMAK)  // !
COMBO(at,          &kp AT     , 15 16, COLEMAK)  // @
COMBO(hash,        &kp HASH   , 16 17, COLEMAK)  // #
COMBO(dollar,      &kp DOLLAR , 17 18, COLEMAK)  // $
COMBO(persent,     &kp PRCNT  , 18 19, COLEMAK)  // %
COMBO(caret,       &kp CARET  , 20 21, COLEMAK)  // ^
COMBO(ampr,        &kp AMPS   , 21 22, COLEMAK)  // &
COMBO(star,        &kp STAR   , 22 23, COLEMAK)  // *


COMBO(bootloader, &bootloader, 26 37, FUNC)


/* COMBO(bt1, &macro_bt1, 26 27, BASE BASE_IOS) */
/* COMBO(bt2, &macro_bt2, 2 3, BASE BASE_IOS) */
