#define str(s) #s

#define MOD(NAME, KEY, MOD_KEY) \
  md_##NAME: md_##NAME { \
    compatible = "zmk,behavior-mod-morph"; \
    label = str(NAME); \
    #binding-cells = <0>;\
    bindings = <&kp KEY>, <&kp MOD_KEY>; \
    mods = <(MOD_LSFT|MOD_RSFT)>;\
  }

//&md_col
MOD(col, SEMI, COLON);

//#undef MOD
